<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpGLCore" version="2.3.0.1" targetFramework="net4" />
  <package id="SharpGLforWinForms" version="2.3.0.1" targetFramework="net4" />
  <package id="Vlc.DotNet.Core" version="2.1.126" targetFramework="net40" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.126" targetFramework="net40" />
  <package id="Vlc.DotNet.Forms" version="2.1.126" targetFramework="net40" />
  <package id="Vlc.DotNet.Wpf" version="2.1.126" targetFramework="net40" />
</packages>